*{
    padding: 0;
    margin: 0;
}


body{
    direction: rtl;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: url("assets/img/naruto chat.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}

img{
    position: absolute;
    left: 50px;
    bottom: -200px;
    height: 100vh;
}

#bubble{
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    height: 10vw;
    min-height: 100px;
    width: 60%;
    max-width: 1000px;
    background-color: #ffffffcc;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

#bubble-top{
    flex-grow: 1;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
}

#bubble-bottom{
    display: flex;
    flex-grow: 8;
    overflow: auto;
}

form{
    display: flex;
    justify-content: space-between;
}

#question , #question:-webkit-autofill{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 90%;
    padding: 0 15px;
}

#question:focus{
    outline: none;
}

#button{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 30px;
    border: none;
}

#answer{
    background-color: rgba(255, 255, 255, 0);
    color: #363636;
    border: none;
    /* display: flex; */
    flex-grow: 1;
    margin: 15px 0 0 0;
    padding: 5px 15px;
    font-size: large;
}

#answer:focus{
    outline: none;
}

input, textarea, button{
    color: #5d5d5d;
    font-size: medium;
}

a{
    color: #ffa600;
}

@media only screen and (max-width: 1000px) {
    #bubble{
        height: 25vw;
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #answer,#button,#question{
        font-size: 15px;
    }

    img{
        height: 130vh;
        left: 0;
    }

    #bubble{
        width: 80%;
        height: 25vh;
        padding: 5px;
        bottom: 70px;
    }

    #button{
        padding: 10px;
    }
  }