*{
    padding: 0;
    margin: 0;
}


body{
    direction: rtl;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    background: url("assets/img/naruto chat.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}

img{
    position: absolute;
    left: 50px;
    bottom: -200px;
    height: 100vh;
}

#bubble{
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    height: 20%;
    width: 60%;
    background-color: #ffffffcc;
    border-radius: 15px;
    padding: 25px;
}

#bubble-top{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
}

#bubble-bottom{
    display: flex;
    flex-grow: 8;
}

#question-input{
    background-color: rgba(255, 255, 255, 0.521);
    border: none;
}

#question-input:focus{
    outline: none;
}